/* fieldset, label { margin: 0; padding: 0; } */

/****** Style Star Rating Widget *****/

/* fieldset {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 392px;
}

.rating > input { display: none; }
.rating > label {background: none;}

.rating > label:before { 
  content: url("data:image/svg+xml, \
  <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' stroke='%23202020' fill='none' viewBox='0 0 16 16'> \
    <path  d='M7.5 1.604c.299-.922 1.602-.922 1.902 0l1.106 3.403a1 1 0 0 0 .95.691h3.58c.968 0 1.37 1.24.587 1.81L12.73 9.61a1 1 0 0 0-.364 1.118l1.106 3.403c.3.921-.755 1.688-1.538 1.118l-2.896-2.103a1 1 0 0 0-1.175 0L4.968 15.25c-.784.57-1.838-.197-1.54-1.118l1.107-3.403A1 1 0 0 0 4.17 9.61L1.276 7.507c-.783-.57-.38-1.809.588-1.809h3.579a1 1 0 0 0 .95-.69L7.5 1.603Z'/> \
  </svg>");
} 


.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label {
  content: url("data:image/svg+xml, \
    <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23202020' stroke='none' viewBox='0 0 16 16'> \
      <path  d='M7.5 1.604c.299-.922 1.602-.922 1.902 0l1.106 3.403a1 1 0 0 0 .95.691h3.58c.968 0 1.37 1.24.587 1.81L12.73 9.61a1 1 0 0 0-.364 1.118l1.106 3.403c.3.921-.755 1.688-1.538 1.118l-2.896-2.103a1 1 0 0 0-1.175 0L4.968 15.25c-.784.57-1.838-.197-1.54-1.118l1.107-3.403A1 1 0 0 0 4.17 9.61L1.276 7.507c-.783-.57-.38-1.809.588-1.809h3.579a1 1 0 0 0 .95-.69L7.5 1.603Z'/> \
    </svg>");
}

fieldset.rating:has( > input:checked + label)::after {
  content: "Pекомендую";
}

fieldset.rating:has( > input:checked[value = '1'], input:checked[value = '2'] + label)::after {
  content: "Не рекомендую";
}

div.container-feedbacks {
  display: flex; 
  flex-direction: column; 
  gap:  10px; 
  align-items: flex-start;
}

div.card-project, div.card-feedback {
  display: flex; 
  flex-direction: row; 
  column-gap: 10px; 
  width: 100%;
}

string.stars {
  display: flex;
  white-space: nowrap;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

div.card-project-left, div.card-feedback-left {
  
}

div.card-project-right, div.card-feedback-right {
  display: flex; 
  flex-direction: column; 
  column-gap: 7px; 
  justify-content: center;
  width: 100%;
}

div.card-project-left:before, div.card-feedback-left:before {
  content: 'hello';
  content: attr(icon) url("data:image/svg+xml, \
  <svg class='avatar' xmlns='http://www.w3.org/2000/svg' width='128' height='105' fill='none' viewBox='0 0 214 211'> \
    <defs> \
    </defs> \
    <rect width='197.234' height='197.234' x='8.067' y='10.59' fill='' stroke='%23EA5657' stroke-width='3' rx='98.617'></rect> \
    <path stroke='%23EA5657' stroke-linecap='round' stroke-width='3' d='M103.532 208.216C144.523 215.784 212 179.207 212 116.144c0-78.829-53.604-110.99-108.468-110.99C48.667 5.153 2 44.251 2 109.837s84.504 104.685 130.541 87.658'></path>\
    <path stroke='%23EA5657' stroke-linecap='round' stroke-width='3' d='M2 109.838C7.045 49.298 33.532 16.505 72.63 2'></path> \
  </svg>");

  background: icon;
} */